test/flows.json
[
    {
        "id": "cde349c1477e8ac6",
        "type": "tab",
        "label": "Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "caa9be34cfeb6e99",
        "type": "inject",
        "z": "cde349c1477e8ac6",
        "name": "Train data sample generator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ {\"text\":\"bla-bla\",\"label\":\"talk\"}, {\"text\":\"some message\",\"label\":\"talk\"}, {\"text\":\"I will kill you\",\"label\":\"warning\"}, {\"text\":\"fire at me\",\"label\":\"warning\"}, {\"text\":\"mine field\",\"label\":\"warning\"} ]",
        "payloadType": "json",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "becc44c98f5e462d"
            ]
        ]
    },
    {
        "id": "610f718371104340",
        "type": "inject",
        "z": "cde349c1477e8ac6",
        "name": "Test data sample generator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ {\"text\":\"bla\"}, {\"text\":\"message\"}, {\"text\":\"kill\"}, {\"text\":\"fire\"}, {\"text\":\"mine\"} ]",
        "payloadType": "json",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "9aed3d3835203404"
            ]
        ]
    },
    {
        "id": "9aed3d3835203404",
        "type": "text-classify-predictor",
        "z": "cde349c1477e8ac6",
        "name": "",
        "modelPath": "d:/a",
        "modelName": "somemodel",
        "orient": "records",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "6ad8a705241d7924"
            ],
            [
                "3cbcdea3dcd22514"
            ]
        ]
    },
    {
        "id": "becc44c98f5e462d",
        "type": "text-classify-trainer",
        "z": "cde349c1477e8ac6",
        "name": "",
        "savePath": "d:/a",
        "saveName": "somemodel",
        "orient": "records",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "a8a1ed5eafbf1964"
            ],
            [
                "0c6126c42bcbbc67"
            ]
        ]
    },
    {
        "id": "a8a1ed5eafbf1964",
        "type": "debug",
        "z": "cde349c1477e8ac6",
        "name": "good_messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c6126c42bcbbc67",
        "type": "debug",
        "z": "cde349c1477e8ac6",
        "name": "errors and warns",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 160,
        "wires": []
    },
    {
        "id": "6ad8a705241d7924",
        "type": "debug",
        "z": "cde349c1477e8ac6",
        "name": "good_messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "3cbcdea3dcd22514",
        "type": "debug",
        "z": "cde349c1477e8ac6",
        "name": "errors and warns",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    }
]